.body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: brown;
    color: white;
    
}

.heading { 
    display: flex;
    flex-direction: column;
    
}

.heading__position {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading__logo {
    display: flex;
    margin-left: 200px;
    padding-right: 400px;
    font-size: 30px;
   /* style */
}

.heading__list {
   display: flex;
   gap: 50px;
   list-style: none;
}

.heading__item {
    color: white;
    text-transform: uppercase;
}

.heading__svg {
    fill: white;
    width: 20px;
    height: 20px;
}







.banner {
    text-align: center;
    letter-spacing: 6px;
    padding-bottom: 200px;
}

.banner__subtitle {
    text-transform: capitalize;
    font-size: 60px;
    font-style: italic;
}

.banner__title {
    text-transform: uppercase;
    font-size: 120px;
}

.banner__button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    color: white;
    border: 5px solid white;
}