$color-pink: #f38181;
$color-orange: #fce38a;
$color-green: #eaffd0;
$color-blue: #95e1d3;
$color-white: #ffffff;
$color-black: #000000;
$color-text-primary: #333333;
$color-text-secondary: #999999;

$color-gradient-primary: linear-gradient(0deg, $color-orange 0%, $color-pink 100%);
