$breakpoints: (
        mobile: 0px,
        tablet: 481px,
        laptop: 769px,
        desktop: 1367px
);

@mixin media($keys...) {
  @each $key in $keys {
    @media (min-width: map-get($breakpoints, $key)) {
      @content
    }
  }
}

@mixin retinaScreen {
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 2000px),
  only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 2000px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 2000px),
  only screen and (min-device-pixel-ratio: 2) and (max-width: 2000px),
  only screen and (min-resolution: 192dpi) and (max-width: 2000px),
  only screen and (min-resolution: 2dppx) and (max-width: 2000px) {
    @content
  }
}